{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 3em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Connected as :
			{{ app.user.username }}! ✅</h1>
	</div>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script>
		const token = "{{ token }}";
	</script>
	<script src="{{ asset('js/eventsource.min.js') }}"></script>
	<script src="{{ asset('js/notify.js') }}"></script>
	<script src="{{ asset('js/index.js') }}"></script>
{% endblock %}
